body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 100px;
  height: auto;
}

.nav-a {
  color: black;
  text-decoration: none;
}

.selected {
  color: blue;
}
